.flow-description-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 50px;

  h2 {
    margin-bottom: 25px;
  }

  .accordion-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    h2 {
      margin: 0;
    }
  }
}
