.banner-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 260px;

  position: fixed;
  top: 56px;
  z-index: -1;

  background-color: #adb5bd;
  .landing-banner {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: relative;

    .description-block {
      display: flex;
      flex-direction: column;
      width: 85%;
      height: 100%;
      align-items: center;
      justify-content: center;
      background-color: #adb5bd;

      clip-path: polygon(0 0, 90% 0, 80% 100%, 0% 100%);

      h1,
      h2 {
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
      }
    }

    .image-block {
      display: flex;
      width: auto;
      height: 100%;
      object-fit: cover;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }
}

.landing-wrapper {
  background-color: #f1f1f1;
  margin-top: 260px;
  padding-top: 50px;

  .user-container {
    margin-bottom: 50px;
  }
}
